# Don't let people peek at our SQLite, log files, configuration files.
<Files  ~ "\.sqlite$">
    Order allow,deny
    Deny from all
</Files>
<Files  ~ "\.input$">
    Order allow,deny
    Deny from all
</Files>
<Files  ~ "\.ini$">
    Order allow,deny
    Deny from all
</Files>
<Files "log.txt">
    Order allow,deny
    Deny from all
</Files>
<Files ~ "\.json$">
    Header set Access-Control-Allow-Origin "*"
</Files>
